# Heuristicas

In [20]:
import utils
import pandas as pd

DATA = "../data/sim.dat"
POWERS = "../data/sim_powers.tsv"

In [30]:
def read_powers() -> pd.DataFrame:
    return pd.read_csv(
        POWERS,
        sep=' ',
        header=None,
        names=["team", "power"],
    )

def read_sim_ranking() -> pd.DataFrame:
    powers = read_powers()
    ranking = utils.read_ranking(DATA+utils.METHOD_CMM+utils.OUT)
    ranking["power"] = (ranking.index + 1).map(powers.set_index("team")["power"])
    ranking["team"] = (ranking.index+1)
    return ranking

In [24]:
utils.run(DATA, utils.METHOD_CMM)

running ../src/tp with input file ../data/sim.dat, method: 0

CompletedProcess(args=['../src/tp', '../data/sim.dat', '../data/sim.dat0.out', '0'], returncode=0)

In [33]:
read_sim_ranking().sort_values("rating", ascending=False)

     rating   power  team
3  0.750000   800.0     4
4  0.615385  1000.0     5
2  0.576923   600.0     3
1  0.384615   400.0     2
0  0.173077   200.0     1

    power
1   200.0
2   400.0
3   600.0
4   800.0
5  1000.0