In [7]:
import utils
import pandas as pd

def read_govan(path: str) -> pd.DataFrame:
    govan = utils.read_ranking(path)
    govan["team"] = (govan.index + 1)
    return govan.sort_values(["rating"], ascending=False).reset_index(drop=True)

DATA_DIR = "../data/"
GOVAN_ORIG = DATA_DIR + "govan.dat"
GOVAN_CH = DATA_DIR + "govan_changed.dat"
GOVAN_NEW = DATA_DIR + "govan_new.dat"

In [8]:
utils.run(GOVAN_ORIG, utils.METHOD_CMM)
read_govan(GOVAN_ORIG+utils.METHOD_CMM+utils.OUT)

     rating  team
0  0.668661     3
1  0.615978     2
2  0.539174     6
3  0.501544     5
4  0.359707     1
5  0.314936     4

In [9]:
utils.run(GOVAN_CH, utils.METHOD_CMM)
read_govan(GOVAN_CH+utils.METHOD_CMM+utils.OUT)

     rating  team
0  0.668661     3
1  0.625000     7
2  0.615978     2
3  0.539174     6
4  0.501544     5
5  0.375000     8
6  0.359707     1
7  0.314936     4

In [10]:
utils.run(GOVAN_NEW, utils.METHOD_CMM)
read_govan(GOVAN_NEW+utils.METHOD_CMM+utils.OUT)

     rating  team
0  0.680659     3
1  0.654091     5
2  0.625000     7
3  0.577046     2
4  0.375133     1
5  0.375000     8
6  0.365569     6
7  0.347503     4